<!doctype html>

<html>

	<head>
		<title>GEM - Contato</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../css/estilo.css" />

	</head>

	<body>

		<div id="navegacao">
			<div id="area">
				<h1 id="logo"><span class="verde">GEM </span>Blog</h1>
				<div id="menu">
					<a href="../index.html">Home</a>
					<a href="meternologin.html">Equality Meter</a>
					<a href="contato.html">Contato</a>
					<a href="login.html">Login</a>
				</div>
			</div>
		</div>

		<div id="area-principal">
			
			<div id="corpo">
				<h2>Entre em contato conosco </h2>
				<form action="../control/contato.php" method="post">
					<p> 
					Nome:<br /> 
					<input type="text" size="30" name="nome"> 
					</p>   
					
					<p>
					E-mail:<br /> 
					<input type="text" size="30" name="replyto"> 
					</p>   
					
					<p> 
					Comentários:<br /> 
					<input type="text" size="35" name="comentarios">
					</p>   
					
					<p> 
					<input type="submit" name="BTEnvia" value="Enviar"> 
					<input type="reset" name="BTApaga" value="Apagar"> </p> 
					</form>
			</div>

		</div>

	</body>

</html>