<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Geek Equality Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/view/style.css" type="text/css" rel="stylesheet"/>
  </head>
   <body>
     <header>
       <h1>Geek Equality Manager</h1>
         <center> <img src="/view/img/logo.png" width=200 height=""></center>
     </header>

 <div id="esquerda">
  <h2>
    <nav>
      <a  href="/index.html">Home</a> <a href="/view/feedback.html">Feedback</a>   <a href="/view/contato.html">Sobre</a>
    </nav>
  </h2>
  <br>
  <h3><p><span>Sugestões e comentários</span></p></h3>

  <span>
<p>* Acho que seria uma boa se a faculdade tivesse mais campanhas publicitarias incentivando mulheres a se matricularem em cursos de tecnologia</p>

<p>* A universidade poderia dar mais desconto na mensalidade para as mulheres se matriculren em cursos de tecnologia. Acho que nao
precisa ser muito, 5% ou 10% ja seria otimo.</p>

<p>* Contratando mais docentes mulheres, incentivando o ingresso de alunas na area e mostrando que nao e uma area so para homem </p></span>
<br>
<br>
<br>

</div>
<div id="direita">
<br>
<br>
<br>
<img src="/view/img/grafico1.png" width="100%" height=""></center>
<br>
<br>
<img src="/view/img/grafico2.png" width="100%" height=""></center>
<br>
<br>
<img src="/view/img/grafico3.png" width="100%" height=""></center>
<br>
<br>
<footer>
  <h3>
  <a href="/index.html">Home</a> <a href="/view/feedback.html">Feedback</a>   <a href="/view/contato.html">Sobre</a>
  </h3>
</footer>
</div>



</body>
</html>
