<!doctype html>

<html>

	<head>
		<title>GEM - Equality Meter</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../css/estilo.css" />

	</head>

	<body>

		<div id="navegacao">
			<div id="area">
				<h1 id="logo"><span class="verde">GEM </span>Blog</h1>
				<div id="menu">
					<a href="../index.html">Home</a>
					<a href="meternologin.html">Equality Meter</a>
					<a href="contato.html">Contato</a>
					<a href="login.html">Login</a>
				</div>
			</div>
		</div>

		<div id="area-principal">
			
			<div id="corpo">
				<img class="img-logo"  width="200px" height="140px" src="../img/gemLogo.png">
				<p>
					Essa área do site só pode ser acessada após login.
				</p>
			</div>

		</div>

	</body>

</html>